<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
<form>
    <div class="form-row">
        <div class="col-12 col-md-9 mb-2 mb-md-0">
            <input type="text" id="toSearch" class="form-control form-control-lg" placeholder="look for a boardgame..">
        </div>
        <div class="col-12 col-md-3">
            <a href="" class="searchButton btn btn-block btn-lg btn-primary" type="submit">
                <i class="fa fa-search"></i>
            </a>
        </div>
    </div>
</form>
</div>