{%  extends 'layout/base.html' %}
{%  block content %}
<div class="containe-fluid  bg-primary p-5">
    <h1 class="text-center">{{user}}'s collection</h1>

    <div class="row">

        {% for collection in collections %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card card-game">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ collection['boardgame_name']  }}</h5>
                    <img class="card-img-top img-fluid" src="{{  collection['boardgame_thumbnail'] }}"
                        alt="Card image cap">
                    <div class="float-right">
                        <form id="add-collectionform" action="/collection" method="post">
                            <a href="/edit/{{ collection['id'] }}" class="btn-floating btn-small" type="button">
                                <i class="fas fa-edit"></i></a>
                            <input name="user" type="hidden" value={{ collection['username'] }}>
                            <input name="id" type="hidden" value={{ collection['id'] }}>
                            <button class="btn btn-danger" id="deleteboardgameSubmit" type="submit"><i
                                    class="fas fa-trash"></i></a></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{%  endblock %}