{%  extends 'layout/base.html' %}
{%  block content %}
<div class="container-fluid  bg-primary p-5">
    {% if empty_search %}
    <div class="mx-auto detail-page">
        <div class="top-buffer">
            <h3 class="text-center">It's Time to Build your collection!</h3>
        </div>
    </div>
    {% else  %}
    <h1 class="text-center">{{user.capitalize() }}'s collection</h1>

    <div class="row">

   
        {% for collection in collections %}
        {% include 'component/card-game.html' %}
        {% endfor %}

        {% include 'component/delete-modal.html' %}
    </div>
    {% endif %}
</div>


{%  endblock %}