{%  extends 'layout/base.html' %}
{%  block content %}
<h1 class="text-center">{{user}}'s collection</h1>
<div class="container">

    <div class="row">

        {% for collection in collections %}
        <div class="col-lg-3 col-m-4 m-2 p-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{  collection['boardgame_thumbnail'] }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ collection['boardgame_name']  }}</h5>

                    <a href="/edit/{{ collection['id'] }}" class="btn btn-success" role="button">Edit</a>
                    <form id="add_collectionform" action="/collection" method="post">
                        <input name="user" type="hidden" value={{ collection['username'] }}>
                        <input name="id" type="hidden" value={{ collection['id'] }}>
                        <button class="btn btn-danger" id="deleteboardgameSubmit" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{%  endblock %}