{% extends 'layout/base.html' %}


{% block content %}
<div class="container-fluid  bg-primary detail-page">
    <div class="row">
        <div class="col-lg-6 ">
            <h1 class="text-center m-4 ">{{  detail['name'] }}</h1>
            <p class="p-4">{{  detail['description']|safe }}<p>

        </div>
        <div class="col-lg-6 mb-1">
                <img src="{{  detail['image'] }}" class="mx-auto d-block w-50 m-4" alt="{{ detail['name'] }}">
                <div class="justify-left ml-5 pl-5">

                    <p>
                        <b>year published: </b> {{  detail['yearpublished']  }}
                    </p>
                    <p>
                        <b>boardgame designer: </b> {{  ', '.join(detail['boardgamedesigner']) }}
                    </p>
                    <p>
                        <b>boardgame category: </b> {{  ', '.join(detail['boardgamecategory']) }}
                    </p>
                    <p>
                        <b>boardgame family: </b> {{  ', '.join(detail['boardgamefamily']) }}
                    </p>
                    <p>
                        <b>boardgame mechanics: </b> {{  ', '.join(detail['boardgamemechanic']) }}
                    </p>
                    <p>
                        <b>min player: </b> {{  detail['minplayers'] }}
                    </p>
                    <p>
                        <b>max player: </b> {{  detail['maxplayers'] }}
                    </p>
                    <p>
                        <b>minimum age: </b> {{  detail['minage'] }}
                    </p>
                    <p>
                        <b>playing time: </b> {{  detail['playingtime']}} minutes
                    </p>
   
                </div>
                <div>
                    <form id="add-collectionform" action="/game/{{id}}" method="post">
                        <input name="user" type="hidden" value={{user}}>
                        <input name="id" type="hidden" value={{id}}>
                        <input name="boardgameName" type="hidden" value="{{  detail['name'] }}">
                        <input name="boardgameDescription" type="hidden" value="{{  detail['description'] }}">
                        <input name="boardgameImage" type="hidden" value={{  detail['image'] }}>
                        <input name="boardgameThumbnail" type="hidden" value={{  detail['thumbnail'] }}>
                        <input name="boardgameMinPlayer" type="hidden" value={{  detail['minplayers'] }}>
                        <input name="boardgameMaxPlayer" type="hidden" value={{  detail['maxplayers'] }}>
                        <input name="boardgameMinAge" type="hidden" value={{  detail['minage'] }}>
                        <input name="boardgameplayingTime" type="hidden" value={{  detail['playingtime'] }}>
                        <input name="boardgamedesigner" type="hidden" value={{  detail['boardgamedesigner'] }}>
                        <input name="boardgamecategory" type="hidden" value={{  detail['boardgamecategory'] }}>
                        <input name="boardgamefamily" type="hidden" value={{  detail['boardgamefamily'] }}>
                        <input name="boardgamemechanic" type="hidden" value={{  detail['boardgamemechanic'] }}>
                        <div class="text-center">
                            <button class="btn btn-search btn-danger" id="addCollectionSubmit" type="submit">
                                <i class="fas fa-heart"></i>
                                Add it!
                            </button>
                        </div>
                    </form>
                </div>
            </div>


    </div>
</div>


{% endblock %}