{% extends 'layout/base.html' %}

{% block content %}

<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">What Boardgame are you looking for today?</h1>
      </div>
    </div>
    <!-- Search Bar -->

    {% include 'component/search-bar.html' %}

  </div>

</header>

<!-- Top content  code for carousel from here:  https://azmind.com/bootstrap-carousel-multiple-items -->
<section class="hot" id="hot">

  <div class="top-content">
    <div class="section-heading text-center">
      <h2>See what is hot now</h2>
      <p class="text-muted">explore what is trending in the community</p>
      <hr>
    </div>

    <div class="container-fluid">
      <div id="carousel-hot" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner carousel-inner-hot row w-100 mx-auto" role="listbox">
          {% for doc in docs %}
          <div
            class="carousel-item item-hot col-12 col-sm-6 col-md-4 col-lg-3 {% if loop.index == 1 %} active {% endif %}">
            <a href="/game/{{ doc['@id'] }}" class="no-underline">
              <div class="card card-game" data-toggle="tooltip" data-placement="top" title="{{ doc['name']['@value'] }}">
                <div class="card-header">
                  <h5 class=" text-center text-truncate">{{ doc['name']['@value'] }}</h5>
                </div>
                <div class="card-body">
                  <img class="card-img-top img-fluid p-2" src="{{ doc['thumbnail']['@value'] }}">
                  <button class='btn btn-danger btn-card'>
                    <i class="fas fa-search"></i> 
                    View
                  </button>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carousel-hot" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-hot" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="oldies bg-primary" id="oldies">

  <div class="top-content">
    <div class="section-heading text-center">
      <h2>Discover old-school Classic</h2>
      <p class="text-muted">have you ever heard of these games?</p>
      <hr>
    </div>
    <div class="container-fluid">
      <div id="carousel-old" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner  carousel-inner-old row w-100 mx-auto" role="listbox">
          {% for game in random_games %}
          <div
            class="carousel-item item-old col-12 col-sm-6 col-md-4 col-lg-3 {% if loop.index == 1 %} active {% endif %}">

            <a href="/game/{{ game['id']  }}" class="no-underline">
              <div class="card card-game"  data-toggle="tooltip" data-placement="top" title="{{ game['name'] }}">
                <div class="card-header">
                  <h5 class=" text-center text-truncate">{{ game['name'] }}</h5>
                </div>
                <div class="card-body">
                  <img class="card-img-top img-fluid p-2" src="{{ game.get('image') }}">
                  <button class='btn btn-danger btn-card'>
                    <i class="fas fa-search"></i> 
                    View
                  </button>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carousel-old" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-old" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Manage your boardgame collection</h2>
      <p class="text-muted">Check out what you can do with this free application!</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-mobile-alt"></i>
                <h3>Device undependent</h3>
                <p class="text-muted">Ready to use on tablet, mobile and laptop</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-search-plus"></i>
                <h3>Vast Database</h3>
                <p class="text-muted">Browse the Largest Boardgame Catalogue availabe online!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-gift"></i>
                <h3>Free to Use</h3>
                <p class="text-muted">Free to Use for any Purpose!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-archive"></i>
                <h3>Manage your Collection</h3>
                <p class="text-muted">Enrich and Personalize your Collection!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}