{% extends 'layout/base.html' %} 

{% block content %}
<main class="content">
    <!-- Section: Account settings -->
    <section class='bg-primary settings'>

        <div  class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Settings</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md mx-1 mb-2 form-wrapper text-white p-4">
                    <form id="emailEdit" action="/settings" method="post">
                        <h3>Change email</h3>
                        <p>To update your email please fill in both fields</p>
                        <div class="form-group">
                            <input name="user" type="hidden" value={{user}}>
                        </div>
                        <div class="form-group">
                            <label for="oldemail">Current email</label>
                            <input name="oldemail" type="email" class="form-control" id="oldemail"
                                placeholder="Current email" value="{{ request.form.oldemail }}" required>
                        </div>
                        <div class="form-group">
                            <label for="newemail">New email</label>
                            <input name="newemail" type="email" class="form-control" id="newemail"
                                placeholder="New email" value="{{ request.form.newemail }}" required>
                            </label>
                        </div>
                            <button id="emailEditBtn" type="submit" class="btn btn-send">Update email</button>
                    </form>
                </div>

                    
                <div class="col-12 col-md mx-1 mb-2 form-wrapper text-white p-4">
                    <form action="/settings" method="post">
                        <h3>Change password</h3>
                        <p>To update your password please fill in both fields</p>
                        <div class="form-group">
                            <input name="user" type="hidden" value={{user}}>
                        </div>
                        <div class="form-group">
                            <label for="passOld">Current password</label>
                            <input name="oldpassword" type="password" class="form-control"
                                autocomplete="old-password" id="oldpassword" value="{{ request.form.oldpassword }}" placeholder="Current password" required>
                        </div>
                        <div class="form-group">
                            <label for="passNew">New password</label>
                            <input name="newpassword" type="password" class="form-control"
                                autocomplete="new-password" id="newpassword" value="{{ request.form.newpassword }}" placeholder="New password" required>
                        </div>
                        <button id="passEditBtn" type="submit" class="btn btn-send">Update password</button>
                    </form>
                </div>
            </div>
        </div>

    </section>
</main>

{% endblock %}