{% extends 'layout/base.html' %} 

{% block content %}

    <!-- Section: Account settings -->
    <section>

        <div  class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Edit account</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <form id="emailEdit" action="/settings" method="post">
                        <h3>Change email</h3>
                        <p>To update your email address please fill in both fields</p>
                        <div class="form-group">
                            <input name="user" type="hidden" value={{user}}>
                        </div>
                        <div class="form-group">
                            <label for="oldemail">Current email</label>
                            <input name="oldemail" type="email" class="form-control" id="oldemail"
                                placeholder="Current email" value="{{ request.form.oldemail }}" required>
                        </div>
                        <div class="form-group">
                            <label for="newemail">New email</label>
                            <input name="newemail" type="email" class="form-control" id="newemail"
                                placeholder="New email" value="{{ request.form.newemail }}" required>
                            </label>
                        </div>
                            <button id="emailEditBtn" type="submit" class="btn btn-success">Update email</button>
                    </form>
                </div>

                    
                <div class="col-6">
                    <form action="/settings" method="post">
                        <h3>Change password</h3>
                        <p>To update your password please fill in both fields</p>
                        <div class="form-group">
                            <input name="user" type="hidden" value={{user}}>
                            <label for="passOld">Current password</label>
                            <input name="passOld" type="password" class="form-control"
                                autocomplete="new-password" id="passOld" placeholder="Current password" required>
                            <label for="passNew">New password</label>
                            <input name="passNew" type="password" class="form-control"
                                autocomplete="new-password" id="passNew" placeholder="New password" required>
                        </div>
                        <button id="passEditBtn" type="submit" class="btn btn-success">Update password</button>
                    </form>
                </div>
            </div>
        </div>

    </section>


{% endblock %}