{% block footer %}
<!-- column sizes in footer different on activities page because of filters bar on right making the width of the footer smaller -->
<footer class=" mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-md-left copyright">
                <small>Copyright 2020 Pierluca Del Buono</small>
            </div>
            <div class="col-12 text-center social-icons-footer">
                <a class="ic-fb social-icon-shadow" href="https://www.facebook.com/" target="_blank"
                    aria-label="Find us on Facebook" rel="noopener">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a class="ic-ins social-icon-shadow" href="https://www.instagram.com/" target="_blank"
                    aria-label="Find us on Instagram" rel="noopener">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a class="ic-twi social-icon-shadow" href="https://www.twitter.com/" target="_blank"
                    aria-label="Find us on Twitter" rel="noopener">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

{% endblock %}