{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
   <!-- script for email -->
   <script src="{{url_for('static', filename='js/email.js')}}"></script>
{% endblock %}